.sheetCards{
    display :flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;        
    padding : 0 4vw;
    height: 6rem;
    justify-content: space-around;

    & h3{
        width: 100%;
        border-bottom: 1px solid #000;
    }

    & ul {
        display : flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        gap : 5px;

    }
}