.searchSheet{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
    position: relative;
    width: 100%;
    gap :10px;

    @include title;
    &__title{
        width: 100%;
    }

    &__barInput {
        display : flex;
        flex-direction: row;
        width: 80%;

        & input {
            flex: 3;
            border-right: none;
        }
        & button {
            border-left: none;
        }

        & input, & button {
            border-radius: 5%;
        }
    }

    &__result{
        display : flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top : 100%;
        width: 80%;
        border: 1px solid #000;

        & >.card{
            border-radius: 0;

            & > .card__discover{
                display : none !important;
            }
            & > .card__container{
                height: 100%;
            }

            
        }

        
    }

}